/* a regra afetara todos os elementos HTML da pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'motabello';
    src: url(Montebello-Regular.ttf)format("truetype"), url(Montebello-light.otf)format(opentype);
    font-weight: normal;
    font-style: normal;
}
body{
    width: 100%;
    height: 100%;
    background: #066b7c;
    overflow: hidden;
}