/* a regra afetara todos os elementos HTML da pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'motabello';
    font-weight: normal;
    font-style: normal;
}